@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit; /* Get rid of all font sizes and heights */
  }
  
  html {
    color-scheme: dark light; /* Default dark */
    hanging-punctuation: first last; /* Not supported in Chrome */
  }
  
  /* Media responsive */
  img, picture, svg, video {
    display: block;
    max-width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  p {
    max-width: 75ch;
    text-wrap: pretty; /* Prevents orphans on lines */
  }
  
  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }

body{
    font-family: 'Inter';
    background-color: var(--grey900);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

.container{
    background-color: var(--grey800);
    border-radius: 0.8rem;
    padding: 2.5rem;
    width: 26rem;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    border-radius: 50%;
    width: 6rem;
    margin-bottom: 1rem;
}

.name{
    color: var(--white);
    margin-bottom: 0.2rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.location{
    color: var(--green);
    font-weight: 600;
    margin: 0.7rem 0 2rem 0;
    font-size: 0.9rem;
}

.bio{
    color: var(--white);
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.links{
    color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn{
    border-radius: 0.6rem;
    border: none;
    color: var(--white);
    background-color: var(--grey700);
    padding: 1rem;
    margin: 0.4rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.btn:hover{
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}

.attribution{
        position: absolute;
        bottom: 1rem;
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: fit-content;
}


@media only screen and (min-device-width: 280px) and (max-device-width: 320px) {
.container{
    max-width: 17rem;
    padding: 1rem;
}
    
.name{
    font-size: 1.6rem;
}
    
.bio{
    font-size: 0.8rem;
    }
    
.btn{
    font-size: 0.8rem;
}

.attribution{
    font-size: 0.7rem;
}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.container{
    padding: 1.5rem;
    max-width: 20rem;
    }

.name{
    font-size: 1.5rem;
}

.bio{
    font-size: 0.9rem;
}

.btn{
    font-size: 0.9rem;
}

.attribution{
    font-size: 0.7rem;
}
  }